/* selectef tag{
  property: value;
} */

body{
  width: auto;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;


  background: #adeaed;

}
hr{
  color: #1c0311;
  border-width: 2px;
}
h1{
  color: #030230;
}
h2{
  color: #280436;
}
th{
  color: #850f40;
}
#singledout{
  text-align-last: left;
  letter-spacing: 2;


}
img{
  display: block;
  margin: 0 auto;

}
